@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pry-bg-image: linear-gradient(to left,
        #0d0d0d,
        #2c3e50
    );
    --h1: #0d0d0d;
    --btn-ff: "Jost", sans-serif;
    --btn-border: 1px solid black; 
    --bg-hover: linear-gradient(to right,
            #0d0d0d,
            #2c3e50);
}

body {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     */
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
}

h1 {
    color: var(--h1);
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'poppins', sans-serif;
    margin: 0 0 0.5em 1.5em;
}

section {
    width: 50%;
    height: 30vh;
    border: var(--btn-border);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--pry-bg-image);
}

#password {
    height: 20vh;
    width: 30em;
    border: 0;
    outline: none;
    background-image: var(--pry-bg-image);
    font-size: 31px;
    font-family: var(--btn-ff);
    color: #fff;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 12em;
    height: 4em;
    margin-top: 2em;
    background-image: var(--pry-bg-image);
    color: #fff;
    border: none;
    outline: 0;
    font-size: 1.5em;
    border-radius: 0.5em;
    font-family: var(--btn-ff);
    transition: background-image 600ms;
}

.button:hover {
    cursor: pointer;
    background-image: var(--bg-hover);
}

/* copy button */
#copyBtn {
    position: fixed;
    height: 4em;
    width: 4em;
    border: var(--btn-border);
    margin: 0 -55em 13em 0;
    border-radius: 0.5em;
    cursor: pointer;
    background: transparent;
    border: 1px solid #dde6f0;
}

#copyBtn .fa-clipboard {
    color: #fff;
    font-size: 1.5rem;
}

/* mobile */
@media screen and (max-width: 769px) {
    section {
            width: 100%;
            height: 30vh;
            border: var(--btn-border);
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: var(--pry-bg-image);
        }

    h1 {
        color: var(--h1);
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'poppins', sans-serif;
        margin: 0em 0 0.5em 0em;
        text-align: center;
    }

    #password {
        height: 12vh;
        width: 45vh;
        border: 0;
        outline: none;
        background: transparent;
        font-size: 2rem;
        font-family: var(--btn-ff);
        color: #fff;
        font-weight: 600;
        text-align: center;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #copyBtn {
        position: fixed;
        height: 3em;
        width: 3em;
        border: var(--btn-border);
        margin: 0 -22em 11em 0;
        border-radius: 0.5em;
        cursor: pointer;
        background: transparent;
        border: 1px solid #dde6f0;
    }
    
    #copyBtn .fa-clipboard {
        color: #fff;
        font-size: 2rem;
    }
}

/* tablets*/
@media screen and (min-width: 770px) and (max-width: 1104px) {
    section {
        width: 100%;
        height: 40vh;
    }

    #password {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .btn-container {
        width: 100%;
        height: 20vh;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        padding-right: 7em;
        align-items: center;
        flex-direction: column;
    }

    .button {
        width: 13em;
        height: 4em;
        font-size: 1.7rem;
    }

    #copyBtn {
        position: absolute;
        height: 4em;
        width: 4em;
        border: var(--btn-border);
        margin: 0 -51em 25em 0;
        border-radius: 0.5em;
        cursor: pointer;
        background: transparent;
        border: 1px solid #dde6f0;
    }
    
    #copyBtn .fa-clipboard {
        color: #fff;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1105px) and (max-width: 1146px) {
    section {
        width: 60%;
        height: 40vh;
    }

    #copyBtn {
        position: absolute;
        height: 4em;
        width: 4em;
        border: var(--btn-border);
        margin: 0 -43em 11em 0;
        border-radius: 0.5em;
        cursor: pointer;
        background: transparent;
        border: 1px solid #dde6f0;
            
    }

    .button {
        width: 10em;
        height: 2em;
        font-size: 2.5rem;
    }
}